.content {
  position: relative;
}

.content__subsection {
  font-size: 2.125rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
}

.content__container {
  clear: fix;
  font-size: 0.9rem;
  font-family: var(--font-two);
  line-height: 1.75rem;
  padding: 2rem 0;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.content__description {
  color: var(--grey);
  display: block;
  font-size: 0.9rem;
  font-family: var(--font-two);
  line-height: 1.5rem;
  margin: 1rem auto 0 auto;
  width: 100%;
}

.content__title {
  color: var(--grey-dark);
  font-family: var(--font-one);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.content__subtitle {
  color: var(--grey);
  display: block;
  font-family: var(--font-two);
  font-size: 1rem;
}

.content__hr,
.content__hr--short {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.content__hr:before {
  @mixin horizontal-rule;
  display: inline-block;
  left: 0;
  width: 15%;
}

.content__hr:after {
  @mixin horizontal-rule;
  display: inline-block;
  right: 0;
  width: 15%;
}

.content__hr--short:before {
  @mixin horizontal-rule;
  display: inline-block;
  left: 0;
  width: 15%;

}

.content__hr--short:after {
  @mixin horizontal-rule;
  display: inline-block;
  right: 0;
  width: 15%;
}

.content__emphasize {
  text-decoration: underline;
  font-style: italic;
}

.col-2 {
  display: inline-block;
  position: relative;
  width: 100%
}

.col-3 {
  display: inline-block;
  width: 100%
}

.col-3-2 {
  display: inline-block;
  width: 100%
}

.col-3--mobile {
  width: 50%;
}

.col-4 {
  display: inline-block;
  width: 100%
}

.col-4-3 {
  display: inline-block;
  width: 100%
}

.image--headshot {
  background-image: url('../assets/alex.jpg');
  background-size: 300px 300px;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
  height: 300px;
  margin: 1rem auto;
  width: 300px;
}

.image--boston {
  display: none;
}

@media (--xlarge-viewport) {
  .content__subsection {
    width: calc(900px - 2rem);
    padding: 1rem 0;
  }

  .content__container {
    text-align: left;
  }

  .content__description {
    padding: 0;
    width: 600px;
  }

  .content__hr:before,
  .content__hr:after,
  .content__hr--short:before,
  .content__hr--short:after {
    display: inline-block;
  }

  .content__hr:before {
    width: 35%;
  }

  .content__hr:after {
    width: 35%;
  }

  .content__hr--short:before {
    width: 30%;
  }

  .content__hr--short:after {
    width: 30%;
  }

  .col-2 {
    display: inline-block;
    position: relative;
    width: calc(900px / 2);
  }

  .col-3 {
    display: inline-block;
    width: 300px;
  }

  .col-3-2 {
    display: inline-block;
    width: 600px;
  }

  .col-4 {
    display: inline-block;
    width: 225px;
  }

  .col-4-3 {
    display: inline-block;
    width: 675px;
  }

   .col-2 {
    display: inline-block;
    position: relative;
    width: calc((900px / 2) - 2rem);
  }

  .col-3 {
    display: inline-block;
    width: 300px;
  }

  .col-3-2 {
    display: inline-block;
    width: 600px;
  }

  .col-4 {
    display: inline-block;
    width: 225px;
  }

  .col-4-3 {
    display: inline-block;
    width: 675px;
  }

  .image--boston {
    display: inline-block;
    object-fit: contain;
    margin: 0 50px;
    vertical-align: top;
    width: calc(500px - 100px)  ;
  }
}