.content {
  position: relative;
}

.content__subsection {
  font-size: 2.125rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 900px;
}

.content__container {
  clear: fix;
  font-size: 0.9rem;
  font-family: var(--font-two);
  line-height: 1.75rem;
  padding: 3rem 0;
  text-align: left;
  vertical-align: top;
}

.content__description {
  color: var(--grey);
  font-size: 0.9rem;
  font-family: var(--font-two);
  line-height: 1.5rem;
  margin-top: 2rem;
}

.content__title {
  color: var(--grey-dark);
  font-family: var(--font-two);
  font-size: 2.5rem;
  line-height: 3rem;
}

.content__subtitle {
  color: var(--grey);
  display: block;
  font-family: var(--font-two);
  font-size: 1rem;
}

.content__hr,
.content__hr--short {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.content__hr:before {
  @mixin horizontal-rule;
  left: 0;
  width: 35%;
}

.content__hr:after {
  @mixin horizontal-rule;
  right: 0;
  width: 35%;
}

.content__hr--short:before {
  @mixin horizontal-rule;
  left: 0;
  width: 30%;

}

.content__hr--short:after {
  @mixin horizontal-rule;
  right: 0;
  width: 30%;
}

.content__emphasize {
  text-decoration: underline;
  font-style: italic;
}

.description--3col {
  font-size: 1.25rem;
  font-family: var(--font-two);
  text-align: left;
  vertical-align: top;
  width: 33.33%;
}

.description--4col {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 25%;
}

.description--4col-3 {
  display: inline-block;
  font-size: 1.25rem;
  font-family: var(--font-two);
  padding-left: 3rem;
  text-align: left;
  vertical-align: top;
  width: calc(75% - 3rem);
}

.photo--headshot {
  background-image: url('../assets/alex.jpg');
  background-size: 300px 300px;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
}