.resume {
  color: var(--grey);
}

.resume__container {
  font-size: 1.125rem;
  font-family: var(--font-two);
  line-height: 2rem;
  padding: 3rem 0;
  text-align: left;
  vertical-align: top;
}

.resume__list {
  color: var(--grey);
  font-family: var(--font-two);
  text-align: left;
}

.resume__list li {
  font-family: inherit;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.resume__header4 {
  color: var(--grey-dark);
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.resume__header5 {
  color: var(--grey-dark);
  font-size: 1.5rem;
  font-family: var(--font-two);
  line-height: 1.5rem;
  margin-top: 3rem;
}

.col-3 {
  display: inline-block;
  width: 33.33%;
}

.col-4 {
  display: inline-block;
  width: 25%;
}

.col-4-3 {
  display: inline-block;
  width: 75%;
}