.resume__list {
  color: var(--grey);
  font-family: var(--font-two);
  text-align: left;
  list-style: disc;
}

.resume__list li {
  font-family: inherit;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.header4 {
  color: var(--grey-dark);
  font-size: 2.25rem;
  font-family: var(--font-one);
  display: block;
  line-height: 2.25rem;
  text-align: center;
  width: 100%;
}

.header5 {
  color: var(--grey-dark);
  font-size: 1.5rem;
  font-family: var(--font-two);
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media (--xlarge-viewport) {
  .header4 {
    text-align: left;
  }
}