.resume__list {
  color: var(--grey);
  font-family: var(--font-two);
  font-size: 0.8rem;
  text-align: left;
  list-style: disc;
}

.resume__list--inside {
  list-style-position: inside;
}

.resume__list li {
  font-family: inherit;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.header4 {
  color: var(--grey-dark);
  font-size: 1.75rem;
  font-family: var(--font-one);
  display: block;
  line-height: 1.75rem;
  text-align: center;
  width: 100%;
}

.header5 {
  color: var(--grey-dark);
  font-size: 1.25rem;
  font-family: var(--font-two);
  line-height: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.header5--center {
  text-align: center;
}

@media (--xlarge-viewport) {
  .header4 {
    text-align: left;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .headers5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .header5--center {
    text-align: left;
  }

  .resume__list {
    font-size: 1rem;
  }
}