:root {
  --font-one:   'Julius Sans One', sans-serif;
  --font-two:   'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

* {
  font-family: var(--font-one);
}


.col-2 {
  display: inline-block;
  position: relative;
  width: calc(1200px / 2);
}