/* SMARTPHONES PORTRAIT */
@custom-media --small-viewport (min-width: 300px)


/* SMARTPHONES LANDSCAPE */
@custom-media --medium-viewport (min-width: 480px)


/* TABLETS PORTRAIT */
@custom-media --large-viewport (min-width: 768px)



/* TABLET LANDSCAPE / DESKTOP */
@custom-media --xlarge-viewport (min-width: 1024px)