.footer {
  background-color: var(--grey-xdark);
  color: var(--grey-light);
  height: 20rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.footer__banner {
  background: var(--grey-dark);
  display: block;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.footer__link {
  @mixin nav-link 0.75rem;
  color: var(--grey-light);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.footer__link:hover {
  color: white;
}

.footer__base {
  display: inline-block;
  height: 12rem;
  width: 18rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.footer__copyright {
  margin-bottom: 1rem;
  max-width: 20rem;
}

.footer__icons {
  margin: 2rem;
}

.footer__wrapper {
  width: 20rem;
}

@media (--large-viewport) {
  .footer__link {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}