.icon {
  background-size: 1rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0px;
  height: 1.5rem;
  margin: 0.5rem;
  position: relative;
  text-align: center;
  width: 1.5rem;
  z-index: 1;
}

.icon__wrapper {
  display: block;
  position: relative;
}

.icon--facebook {
  background-image: url('../assets/facebook.svg');
}

.icon--twitter {
  background-image: url('../assets/twitter.svg');
}

.icon--github {
  background-image: url('../assets/github.svg');
}

.icon--instagram {
  background-image: url('../assets/instagram.svg');
}

.icon--linkedin {
  background-image: url('../assets/linkedin.svg');
}

.icon--location {
  background-image: url('../assets/location2.svg');
  cursor: none;
  margin: 0;
  vertical-align: bottom;
}

.icon--beer {
  background-image: url('../assets/beer.svg');
  cursor: none;
  margin: 0;
  vertical-align: bottom;
}

.icon--mobile {
  background-image: url('../assets/mobile.svg');
  cursor: none;
  margin: 0;
  vertical-align: bottom;
}

.icon--logo {
  background-image: url('../assets/adb_white.svg');
  background-position: center top;
  background-size: 8rem;
  height: 6rem;
  width: 8rem;
  vertical-align: bottom;
}

.icon--menu {
  background-image: url('../assets/menu.svg');
  background-size: 1.5rem;
  background-color: white;
  border-radius: 2px;
  height: 1.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
}

.icon--angle-down {
  animation: fadein 1.5s;
  background-image: url('../assets/angle-down.svg');
  background-size: 2rem;
  bottom: 3rem;
  height: 2rem;
  left: calc(50% - 1.75rem);
  position: absolute;
  transition: bottom 1s;
  width: 2rem;
}

.icon--angle-down:hover {
  bottom: 2.5rem;
}

.icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}

.icon__wrapper .icon {
  transition: box-shadow 0.2s;
}

.icon__wrapper .icon:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 2px #fff;
  transition: transform 0.2s, opacity 0.2s;
}

.icon__wrapper  .icon:hover:after {
  transform: scale(0.85);
  opacity: 0.5;
}

.icon__wrapper  .icon:hover {
  box-shadow: 0 0 0 2px rgba(255,255,255,1);
  color: #fff;
}


@media (--large-viewport) {
  .icon--menu {
    background-size: 2rem;
  }
}