.icon {
  background-size: 1rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0px;
  height: 2rem;
  margin: 0.5rem;
  position: relative;
  text-align: center;
  width: 2rem;
  z-index: 1;
}

.icon__wrapper {
  display: block;
  position: relative;
}

.icon--facebook {
  background-image: url('../assets/facebook.svg');
}

.icon--twitter {
  background-image: url('../assets/twitter.svg');
}

.icon--github {
  background-image: url('../assets/github.svg');
}

.icon--instagram {
  background-image: url('../assets/instagram.svg');
}

.icon--linkedin {
  background-image: url('../assets/linkedin.svg');
}

.icon--logo {
  background-image: url('../assets/adb_white.svg');
  background-size: 4rem;
  height: 4rem;
  width: 4rem;
}

.icon--menu {
  background-image: url('../assets/menu.svg');
  background-size: 2rem;
  background-color: white;
  border-radius: 2px;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.icon--angle-down {
  animation: fadein 1.5s;
  background-image: url('../assets/angle-down.svg');
  background-size: 2rem;
  bottom: 3rem;
  height: 2rem;
  left: 49.4%;
  position: absolute;
  transform: translate(-50%);
  width: 2rem;
}

.icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}

.icon__wrapper .icon {
  transition: box-shadow 0.2s;
}

.icon__wrapper .icon:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 2px #fff;
  transition: transform 0.2s, opacity 0.2s;
}

.icon__wrapper  .icon:hover:after {
  transform: scale(0.85);
  opacity: 0.5;
}

.icon__wrapper  .icon:hover {
  box-shadow: 0 0 0 2px rgba(255,255,255,1);
  color: #fff;
}
