.input, .textarea {
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  color: var(--grey-dark);
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.25rem 0 1rem 0;
  outline: none;
  padding: 0.5rem;
  resize: none;
  vertical-align: middle;
  width: calc(100% - 1rem);
  max-width: calc(30rem - 1rem);
}

.input:focus, .textarea:focus {
  background: var(--grey-xlight);
}

.input--half {
  display: block;
  width: calc(100%);
  max-width: calc(30rem - 1rem);
}

.input__wrapper {
  display: block;
  text-align: left;
  width: calc(100% - 1rem);
}

.textarea {
  display: block;
  font-family: var(--font-two);
  height: 8.5rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  max-width: calc(30rem - 2rem);
}

label {
  vertical-align: bottom;
}

@media (--xlarge-viewport) {
  .input__wrapper {
    display: inline-block;
    width: calc(50%);
  }

  .input--half {
    width: calc(100% - 2rem);
  }

  .label--half input,
  .label--half span {
    margin-left: 1rem;
  }

}