.input, .textarea {
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  color: var(--grey-dark);
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.25rem 0 1rem 0;
  outline: none;
  padding: 0.5rem;
  resize: none;
  vertical-align: middle;
  max-width: calc(30rem - 1rem);
  width: calc(100% - 1rem);
}

.input:focus, .textarea:focus {
  background: var(--grey-xlight);
}

.input--small {
  width: 10rem;
}

.input--medium {
  display: block;
  width: 10rem;
}

.input--large {
  width: 30rem;
}

.input__wrapper {
  display: block;
}

.textarea {
  display: block;
  font-family: var(--font-two);
  height: 8.5rem;
  padding: 1rem;
  max-width: calc(30rem - 2rem);
  width: calc(100% - 2rem);
}

label {
  vertical-align: bottom;
}

@media (--xlarge-viewport) {
  .input__wrapper {
    display: inline-block;
    margin-left: 2rem;
  }
}