.masthead--home {
  @mixin masthead-mobile asheville.jpg;
}

.masthead--resume {
  @mixin masthead-mobile resume.jpg;
}

.masthead--contact {
  @mixin masthead-mobile contact.jpg;
}

.masthead--about {
  @mixin masthead-mobile cogolabs.jpg;
}

.masthead--pwc {
  background-image: url('../assets/pwc.jpg');
  background-color: #282b37;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

.masthead--cogo {
  background-image: url('../assets/cogolabs1.jpg');
  background-color: #282b37;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

.masthead__container {
  position: relative;
  width: 100%;
}

.masthead__title-wrapper {
  margin-bottom: 2rem;
  width: 18rem;
}

.masthead__container--animate {
  animation: fadein 1.5s;
}

.masthead__title {
  color: white;
  font-family: var(--font-one);
  font-size: 2.5rem;
  padding: 0 1rem;
}

.masthead__title--animate {
  animation: fadein-down 1.5s;
}

.masthead__subtitle {
  color: white;
  font-family: var(--font-one);
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.masthead__paragraph {
  color: var(--white);
  font-size: 1.5rem;
}

.masthead__paragraph--animate {
  animation: fadein-down 1.5s;
}

@media (--xlarge-viewport) {
  .masthead--home {
    @mixin masthead asheville.jpg;
  }

  .masthead--resume {
    @mixin masthead resume.jpg;
  }

  .masthead--contact {
    @mixin masthead contact.jpg;
  }

  .masthead--about {
    @mixin masthead cogolabs.jpg;
  }

  .masthead__title-wrapper {
    margin-bottom: 2rem;
    width: 40rem;
  }

  .masthead--about,
  .masthead--contact,
  .masthead--resume,
  .masthead--home {
    height: 40rem;
  }

  .masthead__title {
    font-size: 5rem;
  }
}

