.sidenav {
  background: var(--grey-dark);
  bottom: 0;
  color: white;
  min-height: 100%;
  line-height: 1em;
  overflow: auto;
  position: fixed;
  text-align: left;
  right: calc(-260px);
  top: 0;
  width: 260px;
  z-index: -1;
}

.sidenav__list {
  display: block;
  padding: 2rem;
}

.sidenav__link {
  @mixin nav-link 1rem;
  display: block;
  margin: 1.25rem 0;
}

.sidenav__link:first-child {
  height: 100%;
  margin-top: 0;
  overflow: hidden;
}

@media (--xlarge-viewport) {
  .sidenav__container {
    display: none;
  }
}