.circle {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

.circle__container {
  background-repeat: no-repeat;
  display: inline-block;
  height: 332px;
  margin: 25px 18px;
  perspective: 800px;
  position: relative;
  width: 332px;
}

.circle__figure {
  background-size: 300px 300px;
  backface-visibility: hidden;
  border-radius: 50%;
  display: block;
  height: 300px;
  margin: 0;
  padding: 1rem;
  position: absolute;
  width: 300px;
}

.circle__text {
  color: white;
  box-shadow: 0px 0px 3px #333333;
  border-radius: 50%;
  line-height: 250px;
  width: 250px;
  height: 250px;
  padding: 25px;
  background-color: #4c6781;
}

.circle__wrapper {
  display: inline-block;
  height: 10rem;
  line-height: normal;
  vertical-align: middle;
}

.circle__title {
  display:block;
  border-bottom: 1px solid white;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 250px;
}

.circle__description {
  color: white;
  display: inline-block;
  font-family: var(--font-two);
  font-size: 1rem;
  line-height: 1.5rem;
  vertical-align: top;
}

.circle__figure--front {
  background: var(--grey-xlight);
}

.circle__figure--back {
  background: var(--grey-xlight);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  object-fit: contain;
  transform: rotateY( 180deg );
  z-index: 10;
}

.circle__figure--front:after {
  top: -3px;
  left: -3px;
  padding: 0;
  border: 3px solid var(--grey);
  z-index: 10;
}

.circle__figure--front:after {
  top: -3px;
  left: -3px;
  padding: 0;
  z-index: 10;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.circle__figure:before {
  line-height: 200px;
}

.job__wrapper {
  display: inline-block;
  line-height: normal;
  margin: 50px;
  width: 300px;
  vertical-align: top;
}

.job__span {
  display: inline-block;;
  font-family: var(--font-two);
  font-size: 1rem;
  line-height: 1.5rem;
}

.circle__figure--job {
  background-size: 250px 250px;
  border-radius: 50%;
  display: inline-block;
  height: 250px;
  margin: 1rem;
  object-fit: contain;
  width: 250px;
}

.circle:hover .circle__figure--front:after {
  border: 3px dashed var(--grey);
  top: -2px;
  left: -2px;
  -webkit-animation: spinAround 9s linear infinite;
  -moz-animation: spinAround 9s linear infinite;
  animation: spinAround 9s linear infinite;
}

