.footer {
  background-color: var(--grey-footer-background);
  color: var(--grey-footer-text);
  height: 15rem;
  padding: 4rem 0;
  width: 100%;
}

.footer__wrapper {
  width: 50rem;
}

.footer__links,
.footer__icons {
  margin: 2rem 0;
}

.footer__link {
  @mixin nav-link 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.footer__link:hover {
  outline: 1px solid white;
}

