.header {
  height: 4rem;
  right: 4rem;
  line-height: 4rem;
  position: absolute;
  top: 1rem;
}

.header__link {
  @mixin nav-link 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__link:hover {
  color: white;
  font-weight: bold;
}

.header__link.active {
 outline: 3px solid white;
}
