.content__subsection {
  font-size: 2.125rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 1200px
}

.border-bottom {
  border-bottom: 1px solid var(--grey-hr);
}

.content__description {
  color: var(--grey-text);
  font-size: 1.125rem;
  font-family: var(--font-two);
  line-height: 2rem;
}

.description--3col {
  font-size: 1.25rem;
  font-family: var(--font-two);
  text-align: left;
  vertical-align: top;
  width: 33.33%;
}

.description--4col {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 25%;
}

.description--4col-3 {
  display: inline-block;
  font-size: 1.25rem;
  font-family: var(--font-two);
  padding-left: 3rem;
  text-align: left;
  vertical-align: top;
  width: calc(75% - 3rem);
}

.photo--headshot {
    background-image: url('../assets/Alex.jpg');
    background-size: 407px 407px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    width: 407px;
    height: 407px;
}