@define-mixin nav-link $font {
  color: white;
  font-family: var(--font-one);
  font-size: $font;
  font-weight: bold;
  line-height: $font;
  margin-left: calc($font / 5);
  margin-right: calc($font / 5);
  padding: calc($font / 2) calc($font / 2);
  text-decoration: none;
}

@define-mixin masthead $image {
  background: url('../assets/$image') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  height: 40rem;
  width: 100%;
}

@define-mixin horizontal-rule {
  background: #dfe1e6;
  content: '';
  height: 1px;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  top: 35%;
}


@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadein-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}